@using DKTInChi.Models;
@model List<CourseClass>
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

@{
    var listRegister = (List<RegisterClass>) ViewData["ListRegisterClasses"];
}

<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
<<<<<<< HEAD:DKTInChi/DKTInChi/Views/Register/Index.cshtml
                    <h3 class="box-title">Danh sách môn được đăng ký</h3>
=======
                    <h3 class="box-title">Các môn đã đăng ký</h3>
>>>>>>> origin/trung-etc:DKTInChi/DKTInChi/Views/Register/Registered.cshtml
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" style="height: 400px">
                    <table class="table table-hover">
                        <tr>
                            <th>Mã Học Phần</th>
                            <th>Tên Học Phần</th>
                            <th>Số tín chỉ</th>
<<<<<<< HEAD:DKTInChi/DKTInChi/Views/Register/Index.cshtml
                            <th>Tổng số tiết</th>
                            <th>Tối đa</th>
                            <th>Đã Đăng ký</th>
                            <th>Chức năng</th>
=======
                            <th>Địa điểm</th>   
                            <th></th>                         
>>>>>>> origin/trung-etc:DKTInChi/DKTInChi/Views/Register/Registered.cshtml
                        </tr>
                        @foreach (var sb in Model)
                        {
                            <tr>
<<<<<<< HEAD:DKTInChi/DKTInChi/Views/Register/Index.cshtml
                                <td>@sb.maHocPhan</td>
                                <td>@sb.tenHocPhan</td>
                                <td>@sb.soTinChi</td>
                                <td>@sb.tongSoTiet</td>
                                <td>@sb.maxStudent</td>
                                <td>@sb.signStudent</td>
                                <td>@Html.ActionLink("Đăng ký", "RegisterAction", "Register", new {maHocPhan = sb.maHocPhan}, null))</td>
=======
                                <td name="id" value="@sb.code">@sb.code</td>
                                <td>@sb.name</td>
                                <td>@sb.numbercredit</td>
                                <td>@sb.place</td>                               
>>>>>>> origin/trung-etc:DKTInChi/DKTInChi/Views/Register/Registered.cshtml
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách môn đã đăng ký</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" style="height: 350px">
                    @if (@listRegister.Count > 0)
                    {
                        <table class="table table-hover">
                            <tr>
                                <th>Mã Lớp Học Phần</th>
                                <th>Tên Học Phần</th>
                                <th>Số tín chỉ</th>
                                <th>Tổng số tiền</th>
                                <th>Chức năng</th>
                            </tr>
                            @foreach (var r in @listRegister)
                            {
                                <tr>
                                    <td>@r.maLopHocPhan</td>
                                    <td>@r.tenMonHoc</td>
                                    <td>@r.soTC</td>
                                    <td>@r.tien</td>
                                    <td>@Html.ActionLink("Huỷ Đăng Ký", "CancelRegister", "Register", new {maLopHocPhan = @r.maLopHocPhan}, null)</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p style="padding-left: 20px">Bạn chưa đăng ký môn học nào</p>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
